<div class="main_component flex gap-6">
  <!-- Loading Spinner -->
  <span class="loading-indicator-container m-auto" *ngIf="loading">
    <span class="loading-indicator">
      <mat-spinner></mat-spinner>
    </span>
  </span>

  <!-- Form Panel -->
  <form class="form-panel" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <!-- Form Fields -->
    <div class="flex flex-col gap-4">

      <!-- Email Field -->
      <mat-form-field>
        <mat-label for="email"> {{ 'email'|translate }}:</mat-label>
        <input matInput type="email" formControlName="email" id="email" required />
        <mat-error *ngIf="signInForm.controls['email'].hasError('required')">
          {{ 'email_required'|translate }}
        </mat-error>
        <mat-error *ngIf="signInForm.controls['email'].hasError('email')">
          {{ 'email_not_valid'|translate }}
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field>
        <mat-label for="password">{{ 'password'|translate }}:</mat-label>
        <input matInput type="password" formControlName="password" id="password" required />
        <mat-error *ngIf="signInForm.controls['password'].hasError('required')">
          {{ 'password_required'|translate }}
        </mat-error>
      </mat-form-field>

      <!-- Remember Me Checkbox -->
      <mat-checkbox formControlName="rememberMe">{{ 'remember_me'|translate }}</mat-checkbox>

      <!-- Error Message -->
      <div class="h-8 w-full text-center pb-5">
        <mat-error *ngIf="error">{{ error }}</mat-error>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex gap-4 flex-col">
      <button class="cube-white-button collored-button" type="submit" [disabled]="loading">
        {{ 'login'|translate }}
      </button>
      <hr class="devider">
      <button class="cube-white-button" [routerLink]="'/auth/register'">
        {{ 'registration'|translate }}
      </button>
    </div>
  </form>
</div>
