.device-container {
  text-align: center;
}

.tab-container{
  color: black;
  text-align: center;
  border-bottom: 1px solid #3498db;

  p{
    cursor: pointer;
  }

  .tab-item-1{
    border-bottom: 3px solid #3498db;
  }
}
