<div class="main_component">
  <div>
    <ion-grid *ngIf="bluetoothConnectedDevice">
      <ion-row>
        <ion-col class="ion-margin-auto ion-text-start">
          <p>{{bluetoothConnectedDevice.device?.name ?? "NO name" }}</p>
          <ion-img class="device-image" src="../assets/img/viatom.png"></ion-img>
        </ion-col>
        <ion-col class="ion-margin-auto ion-text-start">
          <ion-button expand="block" color="danger" *ngIf="bluetoothConnectedDevice"
                      (click)="disconnectFromBluetoothDevice(bluetoothConnectedDevice)">Lecsatlakoztat
          </ion-button>
          <button mat-raised-button color="accent" [disabled]="started" (click)="startMonitoring()">
            <mat-spinner *ngIf="started" class="button-spinner" [diameter]="30"></mat-spinner>
            Monitorozás indítása
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="device-container" *ngIf="!bluetoothConnectedDevice">
      <button [disabled]="bluetoothIsScanning" mat-raised-button color="warn" (click)="scanForBluetoothDevices()">
        <mat-spinner [diameter]="30" class="button-spinner" *ngIf="bluetoothIsScanning"></mat-spinner>
        Eszköz keresése
      </button>
      <ion-grid *ngIf="bluetoothScanResults.length">
        <ion-row *ngFor="let scanResult of bluetoothScanResults">
          <ion-col class="ion-margin-auto ion-text-start">
            <ion-img class="device-image" src="../assets/img/viatom.png"></ion-img>
          </ion-col>
          <ion-col class="ion-margin-auto ion-text-start">
            <p>{{scanResult.device?.name ?? "NO name" }}</p>
            <ion-button expand="block" color="success" *ngIf="!bluetoothConnectedDevice"
                        (click)="connectToBluetoothDevice(scanResult)">Csatlakozás
            </ion-button>
          </ion-col>
        </ion-row>
        <hr>
      </ion-grid>
    </div>
  </div>

  <canvas *ngIf="measurementResult?.pulse || averageMeasurementResult.pulse" id="pulseChart"></canvas>
  <div *ngIf="measurementResult?.pulse">
    <ion-text color="dark"><p>Pulzus: {{measurementResult?.pulse ?? "no pulse data" }}</p></ion-text>
    <ion-text color="dark"><p>SPO2: {{measurementResult?.spo2 ?? "no spo2 data" }}</p></ion-text>
    <ion-text color="dark"><p>PI: {{measurementResult?.pi ?? "no pi data" }}</p></ion-text>
  </div>

  <div *ngIf="averageMeasurementResult.pulse">
    <b>Mért eredmény (10s alatt):</b>
    <ion-text color="dark"><p>Pulzus: {{averageMeasurementResult?.pulse ?? "no pulse data" }}</p></ion-text>
    <ion-text color="dark"><p>SPO2: {{averageMeasurementResult?.spo2 ?? "no spo2 data" }}</p></ion-text>
    <ion-text color="dark"><p>PI: {{averageMeasurementResult?.pi ?? "no pi data" }}</p></ion-text>
  </div>
</div>





