<div class="main_component flex gap-6">

  <span class="loading-indicator-container m-auto" *ngIf="bluetoothIsScanning">
    <span class="loading-indicator">
        <mat-spinner></mat-spinner>
    </span>
</span>
  <div class="z-10 form-panel">

    <div class="flex tab-container">
      <div class="w-full p-1 tab-item-1">
        <p>Automatikus</p>
      </div>
      <div class="w-full p-1 tab-item-2">
        <p (click)="openDialog()">Manuális</p>
      </div>
    </div>

    <div *ngIf="bluetoothConnectedDevice" class="py-5 flex gap-4 justify-around">
      <div class="flex flex-row gap-3">
        <ion-img class="device-image m-auto" src="../assets/img/viatom.png"></ion-img>
        <p class="small-text">{{ bluetoothConnectedDevice.device?.name ?? "NO name" }}</p>
      </div>
      <button class="cube-white-button small-button"
              (click)="disconnectFromBluetoothDevice(bluetoothConnectedDevice)">Lecsatlakoztat
      </button>
    </div>

    <div class="device-container py-5 flex gap-4 justify-around flex-col" *ngIf="!bluetoothConnectedDevice">
      <button *ngIf="!bluetoothScanResults.length" [disabled]="bluetoothIsScanning"
              class="cube-white-button collored-button" (click)="scanForBluetoothDevices()">Új eszköz
      </button>

      <div *ngFor="let scanResult of bluetoothScanResults">
        <div class="flex gap-4 justify-around">
          <div class="flex flex-row gap-3">
            <ion-img class="device-image m-auto" src="../assets/img/viatom.png"></ion-img>
            <p class="small-text">{{ scanResult.device?.name ?? "NO name" }}</p>
          </div>
          <button class="cube-white-button small-button collored-button" *ngIf="!bluetoothConnectedDevice"
                  (click)="connectToBluetoothDevice(scanResult)">Csatlakozás
          </button>
        </div>
        <hr *ngIf="bluetoothScanResults.length > 1" class="divider">
      </div>

    </div>
  </div>

  <div class="start-button-container">
    <button *ngIf="!started" class="rounded-start-button collored-button" [disabled]="started"
            (click)="startMonitoring()">Mérés
    </button>

    <div *ngIf="started">
      <button class="opacity-0 rounded-start-button collored-button" [disabled]="started" (click)="startMonitoring()">
        Mérés
      </button>
      <div class="heart">
        <p>{{ measurementResult?.spo2 }}</p>
      </div>
    </div>
  </div>

  <div class="form-panel">
    <div class="flex justify-around">
      <div *ngIf="measurementResult.spo2" class="flex w-full">
        <p class="small-text"
           [ngClass]="{
              'white-text': measurementResult?.pulse >= 100,
              'green-text': measurementResult?.pulse >= 101 && measurementResult?.pulse <= 109,
              'orange-text': measurementResult?.pulse >= 110 && measurementResult?.pulse <= 130,
              'red-text': measurementResult?.pulse >= 130
            }"
        >Pulzus: {{ measurementResult?.pulse ?? "" }}</p>
        <p class="small-text"
           [ngClass]="{
              'white-text': measurementResult?.spo2 > 95,
              'green-text': measurementResult?.spo2 === 95,
              'orange-text': measurementResult?.spo2 >= 93 && measurementResult?.spo2 <= 94,
              'red-text': measurementResult?.spo2 <= 92
            }"
        >SPO2: {{ measurementResult?.spo2 ?? "" }}</p>
        <p class="small-text"
           [ngClass]="{
              'white-text': measurementResult?.pi >= 0.2 && measurementResult?.pi <= 20,
              'red-text': measurementResult?.pi <= 0.2 || measurementResult?.pi >= 20
            }"
        >PI: {{ measurementResult?.pi ?? "" }}</p>
      </div>
      <mat-icon class="info-icon" (click)="openInfoDialog()">info</mat-icon>
    </div>
    <canvas id="pulseChart"></canvas>
    <div *ngIf="averageMeasurementResult?.spo2">
      <b class="normal-text">Mért eredmény (10s alatt):</b>
      <div class="flex justify-around">
        <p
          [ngClass]="{
              'white-text': averageMeasurementResult?.pulse >= 100,
              'green-text': averageMeasurementResult?.pulse >= 101 && averageMeasurementResult?.pulse <= 109,
              'orange-text': averageMeasurementResult?.pulse >= 110 && averageMeasurementResult?.pulse <= 130,
              'red-text': averageMeasurementResult?.pulse >= 130
            }"
          class="small-text">Pulzus: {{ averageMeasurementResult?.pulse ?? "" }}</p>
        <p
          [ngClass]="{
              'white-text': averageMeasurementResult?.spo2 > 95,
              'green-text': averageMeasurementResult?.spo2 === 95,
              'orange-text': averageMeasurementResult?.spo2 >= 93 && averageMeasurementResult?.spo2 <= 94,
              'red-text': averageMeasurementResult?.spo2 <= 92
            }"
          class="small-text">SPO2: {{ averageMeasurementResult?.spo2 ?? "" }}</p>
        <p class="small-text"
           [ngClass]="{
              'white-text': averageMeasurementResult?.pi >= 0.2 && averageMeasurementResult?.pi <= 20,
              'red-text': averageMeasurementResult?.pi <= 0.2 || averageMeasurementResult?.pi >= 20
            }"
        >PI: {{ averageMeasurementResult?.pi ?? "" }}</p>
      </div>
    </div>
  </div>
</div>





