div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.loading-indicator {
  position: absolute;
  width: 100%;
  top: 19%;
  z-index: 999;
}

mat-spinner {
  margin: auto;
}

span {
  padding: 5px 5px 5px 5px;
}

form div {
  padding: 5px 5px 5px 5px;
}

form {
  display: inline-grid;
  width: 50%;
  align-self: center;
}

.subForm {
  width: 100%;
  display: inline-grid;
}
