<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="main_component">
    <h1 class="mb-8 font-bold text-2xl">A méréshez jelentkezz be!</h1>
    <mat-form-field>
        <label class="contests" for="email">E-mail: </label><input matInput type="text" [formControl]="email" />
    </mat-form-field>
    <mat-form-field>
        <label class="contests" for="password">Jelszó: </label><input matInput type="password" [formControl]="password" />
    </mat-form-field>
  <mat-error *ngIf="error">{{error}}</mat-error>
  <span>
        <button mat-fab extended (click)="login()">Belépés</button>
        <button mat-fab extended [routerLink]="'/signup'">Regisztráció</button>
    </span>
</div>
