@import '~@angular/material/theming';

.ion-margin-auto {
  margin: auto;
}

.email-header, .more_apps {
  color: #7b1fa2;
}

.selected {
  background-color: red !important;
}

ion-content {
  --keyboard-offset: 0 !important;
}