<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-title>Mediscan</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-auto ion-text-start">
          <p class="ion-margin-auto email-header" *ngIf="loggedInUser">{{loggedInUser.email}}</p>
        </ion-col>
        <ion-col class="ion-text-end">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="This is the menu item">
            <mat-icon class="more_apps">apps</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="loggedInUser" routerLink="/scanner" mat-menu-item
                    [ngClass]="{ 'selected' : page==='scanner' }">
              <mat-icon>sensor_occupied</mat-icon>
              <span>Mérés</span>
            </button>
            <button *ngIf="loggedInUser" routerLink="/main" mat-menu-item
                    [ngClass]="{ 'selected' : page==='main' }">
              <mat-icon>list_alt</mat-icon>
              <span>Mérési archív</span>
            </button>
            <button *ngIf="!loggedInUser" routerLink="/signup" mat-menu-item
                    [ngClass]="{ 'selected' : page==='signup' }">
              <mat-icon>how_to_reg</mat-icon>
              <span>Regisztrálás</span>
            </button>
            <button *ngIf="!loggedInUser" routerLink="/login" mat-menu-item [ngClass]="{ 'selected' : page==='login' }">
              <mat-icon>login</mat-icon>
              <span>Bejelentkezés</span>
            </button>
            <button *ngIf="loggedInUser" routerLink="/login" mat-menu-item (click)='logout()'
                    [ngClass]="{ 'selected' : page==='login' }">
              <mat-icon>logout</mat-icon>
              <span>Kijelentkezés</span>
            </button>
          </mat-menu>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
