@import "./../global.scss";

.mat-mdc-menu-panel {
  background-color: #1f1f1f!important;

  .mat-icon {
    color: white!important;
  }
}

.mat-mdc-menu-item-text {
  color: white;
}

ion-footer .mat-icon {
  color: white!important;
}