@import "./../global.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px; /* Width of the sidenav */
}

ion-list-header {
  font-weight: bold;
  font-size: 1.2em;
  padding: 16px;
}

ion-item {
  --background: transparent; /* Transparent background */
}

ion-item:hover {
  background: rgba(0, 0, 0, 0.1); /* Hover effect */
}

mat-icon {
  font-size: 24px; /* Size of the icons */
}