<div class="h-screen overflow-hidden">
  <ion-header class="absolute top-0">
    <ion-toolbar class="ion-text-center">
      <div class="flex justify-around pt-8">
        <h4 class="header-title">{{ headerTitle }}</h4>
        <app-language-selector></app-language-selector>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="background-container">
    <div class="circle"></div>
  </div>
  <router-outlet/>
  <ion-footer class="absolute bottom-0">
    <ion-toolbar class="ion-text-center">
      <div class="flex justify-around pb-9 pt-2">
        <button
          class="flex gap-2 menu-button"
          *ngFor="let p of getPages()"
          [routerLink]="[p.url]"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }">

          <mat-icon>{{ p.icon }}</mat-icon>
          <span>{{  p.title|translate }}</span>
        </button>

      </div>
    </ion-toolbar>
  </ion-footer>
</div>
