<div class="main_component flex gap-6">
  <span class="loading-indicator-container m-auto" *ngIf="loading">
      <span class="loading-indicator">
          <mat-spinner></mat-spinner>
      </span>
  </span>

  <form class="form-panel" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <mat-form-field>
        <mat-label for="old_password">{{ 'current_password'|translate }}:</mat-label>
        <input matInput type="password" formControlName="oldPassword"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">{{ 'new_password'|translate }}:</mat-label>
        <input matInput type="password" formControlName="password"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="rePassword">{{ 'new_password_repeat'|translate }}:</mat-label>
        <input matInput type="password" formControlName="rePassword"/>
      </mat-form-field>
      <div class="h-8	w-full text-center pb-5">
        <mat-error *ngIf="error">{{ error }}</mat-error>
      </div>
    </div>
    <div class="flex gap-4 flex-col">
      <button class="cube-white-button collored-button" extended>{{ 'update_password'|translate }}</button>
    </div>
  </form>
</div>
